<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method='post' action="/editar/<%= tarefa.id %>">
        <label>Título</label>
        <input type="text" name="titulo" value="<%= tarefa.titulo %>"required><br>
        <label>Descrição</label><br>
        <textarea name="descricao" cols="20" rows="10"><%= tarefa.descricao %></textarea>
        <br>
        <label>Status</label>
        <select name="status">
            <option value="Em aberto">Em aberto</option>
            <option value="Em Andamento">Em Andamento</option>
            <option value="Finalizada">Finalizada</option>
        </select>
        <input type="submit">

    </form>
</body>
</html>